{% extends 'bundles/FOSUserBundle/base.html.twig' %}

{% set sectionTitle = 'Welcome back!' %}

{% block securityContent %}
    <div class="security-content">
        <img src="{{ asset('assets/img/illustration-login.svg') }}" alt="Illustration for Login" />

        {% if error %}
            <div class="flashbang flashbang-error">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="text" name="_username" value="{{ last_username }}" placeholder="Username" />
            <input type="password" name="_password" placeholder="Password" />

            <input class="button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        </form>
    </div>
{% endblock securityContent %}