{% extends 'bundles/FOSUserBundle/base.html.twig' %}

{% set sectionTitle = 'Create a new account!' %}

{% block securityContent %}
    <div class="security-content">
        <img src="{{ asset('assets/img/illustration-register.svg') }}" alt="Illustration for Register" />

        {{ form_start(form) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.username) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}

            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password (again)'}}) }}
            
            <input class="button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock securityContent %}