{% extends 'base.html.twig' %}

{% block title %}Spin Rhythm XD Custom Charts{% endblock %}

{% block content %}
    <section class="section-startup">
        <header>
            <div class="tabs">
                <a href="{{ path('index.index') }}" class="tab {% if app.request.attributes.get('_route') == 'index.index' %}active{% endif %}">Frontpage</a>
                <a href="{{ path('index.new') }}" class="tab {% if app.request.attributes.get('_route') == 'index.new' %}active{% endif %}">New</a>
                <a href="{{ path('index.hot') }}" class="tab {% if app.request.attributes.get('_route') == 'index.hot' %}active{% endif %}">Hot</a>
            </div>
        </header>

        {% block indexContent %}{% endblock %}
    </section>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/startup.css?v=' ~ date().timestamp) }}" />

    {% if is_granted("ROLE_USER") %}
        {% if app.user.theme == 1 %}
            <link rel="stylesheet" href="{{ asset('assets/css-theme1/startup.css?v=' ~ date().timestamp) }}" />
        {% endif %}
    {% endif %}
{% endblock %}