{% extends 'index/base.html.twig' %}

{% block indexContent %}
    <div class="frontpage">
        <div class="social-buttons">
            <a href="https://spinsha.re/discord" class="item item-discord"><i class="mdi mdi-discord"></i></a>
            <a href="https://bsky.app/profile/spinsha.re" class="item item-bluesky"><svg style="width: 32px; height: 32px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 11.3884C11.0942 9.62673 8.62833 6.34423 6.335 4.7259C4.13833 3.17506 3.30083 3.4434 2.75167 3.69256C2.11583 3.9784 2 4.95506 2 5.52839C2 6.10339 2.315 10.2367 2.52 10.9276C3.19917 13.2076 5.61417 13.9776 7.83917 13.7309C4.57917 14.2142 1.68333 15.4017 5.48083 19.6292C9.65833 23.9542 11.2058 18.7017 12 16.0392C12.7942 18.7017 13.7083 23.7651 18.4442 19.6292C22 16.0392 19.4208 14.2142 16.1608 13.7309C18.3858 13.9784 20.8008 13.2076 21.48 10.9276C21.685 10.2376 22 6.10256 22 5.52923C22 4.95423 21.8842 3.97839 21.2483 3.6909C20.6992 3.44256 19.8617 3.17423 17.665 4.72423C15.3717 6.34506 12.9058 9.62756 12 11.3884Z"></path></svg></a>
            <a href="https://www.youtube.com/channel/UCh7ftpzIqlHw5p_-HXHwMBw" class="item item-youtube"><i class="mdi mdi-youtube"></i></a>
            <a href="https://twitch.tv/SpinShare" class="item item-twitch"><i class="mdi mdi-twitch"></i></a>
            <a href="https://patreon.com/spinshare" class="item item-patreon"><i class="mdi mdi-patreon"></i></a>
        </div>

        <div class="staff-promos">
            {% for promo in promos %}
                <div class="staff-promo" style="background-image: url({{ asset('uploads/promo/' ~ promo.imagePath) }});">
                    <div class="promo-type" style="color: {{ promo.color }};">{{ promo.type }}</div>
                    <div class="promo-title" style="color: {{ promo.textColor }};">{{ promo.title|raw }}</div>
                    {% if promo.buttonType == 0 %}
                        {# Song #}
                        <a href="{{ path('song.detail', {songId: promo.buttonData}) }}" class="promo-button" style="background-color: {{ promo.color }};">CHECK IT OUT</a>
                    {% endif %}
                    {% if promo.buttonType == 2 %}
                        {# Search Query #}
                        <a href="{{ path('search.index', {q: promo.buttonData}) }}" class="promo-button" style="background-color: {{ promo.color }};">CHECK IT OUT</a>
                    {% endif %}
                    {% if promo.buttonType == 3 %}
                        {# External Link #}
                        <a href="{{ promo.buttonData }}" target="_blank" class="promo-button" style="background-color: {{ promo.color }};">CHECK IT OUT</a>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="client3-banner" style="background-image: url({{ asset('assets/img/client3_banner.png') }})">
                <img alt="SpinShare Logo" src="https://spinsha.re/assets/img/logo_colored_ondark.svg" />
                <h2>Client Next</h2>
                <p>After 3 years of development, the next generation<br />of our desktop client is finally here!</p>

                <a href="/client-next" class="button">CHECK IT OUT</a>
            </div>

            <div class="song-row song-row-new" style="grid-row: 3; grid-column: 1 / 3; padding: 0;">
                <div style="display: flex; align-items: center; margin-bottom: 15px;">
                    <h1 style="margin: 0; font-size: 2em; flex-grow: 1;">Featured</h1>
                    <a href="/playlist/144" class="button">See more</a>
                </div>

                <div class="song-list" style="grid-template-columns: repeat(2, 1fr);">
                    {% for song in featuredSongs %}
                        {{ include('components/song-item.html.twig', {song: song}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}