<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta name="viewport" content="width=device-width" />

		<!-- Meta -->
        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}" />
		<title>{% block title %}{% endblock %} ~ SpinShare API</title>

		<!-- Style -->
		<link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" />
		<link rel="stylesheet" href="{{ asset('assets/css/apidocs.css?v=' ~ date().timestamp) }}" />
	</head>
	<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode" data-dm-shortcut-enabled="true" data-set-preferred-theme-onload="true">
		<div class="page-wrapper with-navbar with-sidebar">

			<nav class="navbar justify-content-between">
				<div class="navbar-content">
					<button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
						<i class="mdi mdi-menu" aria-hidden="true"></i>
						<span class="sr-only">Toggle sidebar</span>
					</button>
					<a href="#" class="navbar-brand">
						<img class="hidden-lm" src="https://spinsha.re/assets/img/logo_colored_ondark.svg" />
						<img class="hidden-dm" src="https://spinsha.re/assets/img/logo_colored_onwhite.svg" />
						<span>API Documentation</span>
					</a>
				</div>
				<div class="navbar-content">
					<a href="{{ path('index.index') }}" class="btn btn-danger btn-sm">Back to SpinSha.re</a>
				</div>
			</nav>

			<div class="sidebar">
				<div class="sidebar-group">

					<h5 class="sidebar-title">Getting started</h5>
					<div class="sidebar-divider"></div>
					<a href="{{ path('api.docs.introduction') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.introduction' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-hand-peace-variant" aria-hidden="true"></i>
						</span>
						Introduction
					</a>
					<a href="{{ path('api.docs.usagePolicy') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.usagePolicy' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-police-badge" aria-hidden="true"></i>
						</span>
						Usage Policy
					</a>
					<a href="{{ path('api.docs.endpointsVersioning') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.endpointsVersioning' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-api" aria-hidden="true"></i>
						</span>
						Endpoints &amp; Versioning
					</a>
					<a href="{{ path('api.docs.authentication') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.authentication' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-shield-account" aria-hidden="true"></i>
						</span>
						Authentication
					</a>
				</div>
				
                
				<div class="sidebar-group">
					<h5 class="sidebar-title">Open APIs</h5>
					<div class="sidebar-divider"></div>
					<a href="{{ path('api.docs.open.discovery') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.discovery' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-magnify" aria-hidden="true"></i>
						</span>
						Discovery
					</a>
					<a href="{{ path('api.docs.open.client') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.client' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-desktop-tower-monitor" aria-hidden="true"></i>
						</span>
						Client
					</a>
					<a href="{{ path('api.docs.open.promos') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.promos' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-cursor-default-click" aria-hidden="true"></i>
						</span>
						Promos
					</a>
					<a href="{{ path('api.docs.open.songs') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.songs' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-music-circle" aria-hidden="true"></i>
						</span>
						Songs
					</a>
					<a href="{{ path('api.docs.open.playlists') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.playlists' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-playlist-music" aria-hidden="true"></i>
						</span>
						Playlists
					</a>
					<a href="{{ path('api.docs.open.users') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.users' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-account-circle" aria-hidden="true"></i>
						</span>
						Users
					</a>
					<a href="{{ path('api.docs.open.tournaments') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.tournaments' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-boxing-glove" aria-hidden="true"></i>
						</span>
						Tournaments
					</a>
					<a href="{{ path('api.docs.open.dlcs') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.open.dlcs' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-download-box" aria-hidden="true"></i>
						</span>
						DLCs
					</a>
				</div>

				<div class="sidebar-group">
					<h5 class="sidebar-title">Connect APIs</h5>
					<div class="sidebar-divider"></div>
					<a href="{{ path('api.docs.connect.connect') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.connect.connect' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-toy-brick" aria-hidden="true"></i>
						</span>
						Connect
					</a>
					<a href="{{ path('api.docs.connect.profile') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.connect.profile' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-shield-account" aria-hidden="true"></i>
						</span>
						Profile
					</a>
					<a href="{{ path('api.docs.connect.playlists') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.connect.playlists' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-playlist-music" aria-hidden="true"></i>
						</span>
						Playlists
					</a>
					<a href="{{ path('api.docs.connect.notifications') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.connect.notifications' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-bell" aria-hidden="true"></i>
						</span>
						Notifications
					</a>
					<a href="{{ path('api.docs.connect.reviews') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.attributes.get('_route') == 'api.docs.connect.reviews' %}active{% endif %}">
						<span class="sidebar-icon">
							<i class="mdi mdi-thumbs-up-down" aria-hidden="true"></i>
						</span>
						Reviews
					</a>
				</div>
			</div>

			<div class="content-wrapper">
				<div class="container-fluid">
                    {% block content %}{% endblock %}
				</div>
			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.4/js/halfmoon.min.js"></script>
	</body>
</html>