{% extends 'base.html.twig' %}

{% block title %}Update Song{% endblock %}

{% block content %}
  <section class="section-upload">
    {{ form_start(uploadForm) }}
      <div class="box">
        <div class="title">Update Song</div>
        <div class="upload-input">
          {{ form_row(uploadForm.backupPath) }}
          <div class="upload-input-select active">
            <i class="mdi mdi-folder-upload"></i>
            <div>SELECT A NEW SPIN RHYTHM XD<br />BACKUP .ZIP</div>
          </div>
          <div class="upload-input-selected">
            <i class="mdi mdi-folder-music"></i>
            <div></div>
          </div>
        </div>
        <div class="tags-input">
          {{ form_row(uploadForm.tags) }}
          <div class="input-notice">Add multiple tags by seperating them with a comma. (eg: "Memes,Funny,Osu")</div>
        </div>
        <div class="tags-input">
          {{ form_row(uploadForm.description) }}
        </div>
        <div class="tags-input">
          {{ form_row(uploadForm.dlc) }}
          <div class="input-notice">Please select the DLC this chart is part of. This includes recharts and charts with music included in any DLC.</div>
        </div>
        <div class="tags-input">
          {{ form_row(uploadForm.publicationStatus) }}
          <div class="input-notice">"Hide from lists" hides your chart from "New" and "Top".<br />"Unlisted" also hides it from the search and your profile (but not from playlists).</div>
        </div>
        <div class="tags-input">
          {{ form_row(uploadForm.isExplicit) }}
          <div class="input-notice">Are the lyrics, cover or any other meta data of this song unsuitable for children and/or not safe for work?</div>
        </div>
        <div class="actions">
          {{ form_row(uploadForm.save) }}
        </div>
      </div>
    {{ form_end(uploadForm) }}
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ asset('assets/js/upload.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/upload.css?v=' ~ date().timestamp) }}" />
{% endblock %}
