<a class="song-item" href="{{ path('song.detail', {songId: song.id}) }}">
    <!-- {{ song.charter|default('Unknown') }} -->
    <img
        src="{{ asset("uploads/thumbnail/" ~ song.fileReference ~ ".jpg?v=" ~ date().timestamp) }}"
    />
    <div class="meta">
        <h1>{{ song.title|default('Untitled') }}</h1>
        <h2>{{ song.artist|default('Unknown') }}</h2>
        <div class="difficulties">
            <div class="{{ song.hasEasyDifficulty ? 'active' : '' }}">
                <span>E</span>
                {% if song.hasEasyDifficulty %}<span>{{ song.easyDifficulty ? song.easyDifficulty : 0 }}</span>{% endif %}
            </div>
            <div class="{{ song.hasNormalDifficulty ? 'active' : '' }}">
                <span>N</span>
                {% if song.hasNormalDifficulty %}<span>{{ song.normalDifficulty ? song.normalDifficulty : 0 }}</span>{% endif %}
            </div>
            <div class="{{ song.hasHardDifficulty ? 'active' : '' }}">
                <span>H</span>
                {% if song.hasHardDifficulty %}<span>{{ song.hardDifficulty ? song.hardDifficulty : 0 }}</span>{% endif %}
            </div>
            <div class="{{ song.hasExtremeDifficulty ? 'active' : '' }}">
                <span>EX</span>
                {% if song.hasExtremeDifficulty %}<span>{{ song.expertDifficulty ? song.expertDifficulty : 0 }}</span>{% endif %}
            </div>
            <div class="{{ song.hasXDDifficulty ? 'active' : '' }}">
                <span>XD</span>
                {% if song.hasXDDifficulty %}<span>{{ song.XDDifficulty ? song.XDDifficulty : 0 }}</span>{% endif %}
            </div>
        </div>
    </div>
</a>
